.promo {
  width: 100%;
  height: 170px;
  box-shadow: 0 5px 10px 5px #eff4f4;
  padding-top: 79px;


  &__burger--straight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__burger--crossed {
    display: none;
  }

  &-burger {
    width: 57px;
    height: 43px;
  }

  &__word {
    display: none;
    font-size: 1.3rem;
    color: #393e6b;
    text-transform: uppercase;
    padding-top: 45px;
  }

  &__access {

  }

  &__reg {
    padding-left: 30px;
  }

  &__logo {
    display: block;
    width: 230px;
    height: 57px;
    margin: 0 auto;
    padding-top: 68px;
  }
}

.straight-line {
  width: 100%;
  height: 5px;
  background-color: #3fd6bc;
}

.cross-line-1 {

}

.main-nav {
  display: none;

  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  background-color: $main-bgс;
  z-index: 50;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__item {
    margin-bottom: 50px;
  }

  &__link {
    font-size: 3rem;
    color: #393e6b;

    &:hover {
      color: #2cd3b8;
    }
  }
}