.promo {
  width: 100%;
  height: 170px;
  box-shadow: 0 5px 10px 5px #eff4f4;
  padding-top: 60px;
  position: relative;

  &__burger--straight {
    position: absolute;
    top: 70px;
    left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 50;
  }

  &-burger {
    width: 57px;
    height: 43px;
  }

  &__block {
    display: none;
  }

  &__logo {
    display: block;
    width: 230px;
    height: 57px;
    margin: 0 auto;
  }
}

.straight-line {
  width: 100%;
  height: 5px;
  background-color: #3fd6bc;
}

.main-nav {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 100px;
  text-align: center;
  background-color: $main-bgс;
  z-index: 2;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__item {
    margin-bottom: 50px;
  }

  &__link {
    font-size: 3rem;
    color: #393e6b;
    text-transform: uppercase;

    &:hover {
      color: #2cd3b8;
    }

    &:active {
      color: #850cb8;
    }
  }
}

@media(min-width: 1300px) {

.promo {
  padding-top: 35px;
  height: 100px;
  background-image: url(../img/promo_bg.png);
  background-position: -200px 0;
  background-repeat: no-repeat;

  &__container {
    max-width: 1520px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-burger {
    display: none;
  }

  &__block {
    display: block;
    width: 250px;
    display: flex;
    justify-content: space-between;
    
    &__reg {
      padding-left: 30px;
    }
  }

  &__word {
    font-size: 1.3rem;
    color: #393e6b;
    text-transform: uppercase;
  }

  &__logo {
    width: 115px;
    height: 30px;
    margin: 0;

    &-icon {
      width: 115px;
      height: 30px;
    }
  }
}

.main-nav {
  width: 530px;
  display: block;
  background-color: transparent;
  position: static; 
  padding-top: 0;
  padding-left: 80px;
  
  &__list {
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    padding-right: 30px;
    margin: 0;
  }

  &__link {
    font-size: 1.3rem;
  }
}
}

@media(min-width: 1500px) {

.main-nav {
  padding-left: 150px;
}
}