mixin main-nav (navLink)
	li.main-nav__item
		a(href='#').main-nav__link #{navLink}

.promo
	
	.promo__container.container
		.promo__burger--straight.promo-burger
			.straight-line.straight-line-1
			.straight-line.straight-line-2
			.straight-line.straight-line-3
		.promo__block.promo-block
			span.promo-block__access.promo__word Вход
			span.promo-block__reg.promo__word Регистрация
		nav.main-nav
			ul.main-nav__list
				+main-nav ('Возможности')
				+main-nav ('Тарифы')
				+main-nav ('Партнеры')
				+main-nav ('Помощь')
		a(href="index.html").promo__logo.logo
			object(type="image/svg+xml" data="img/logo_head.svg" width="229" height="57").promo__logo-icon
