doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='description' content='WEBIM - онлайн-консультант')
		meta(name='keywords' content='WEBIM, онлайн-консультант, консультации')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(property='og:title' content='WEBIM')
		meta(property='og:description' content='WEBIM - онлайн-консультант')
		meta(property='og:image' content='../img/icons/favicon/ms-icon-150x150.png')
		meta(name='robots' content='all')
		title WEBIM - онлайн-консультант
		block style
			link(rel="stylesheet" type="text/css" href="css/normalize.css")
			link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		block promo
		block header
		block main
		block footer
		block js
			script(src="js/script.js")