.contacts {
  padding-top: 90px;
  
  &__text {
    @include title-subtext;
    padding-bottom: 90px;
  }

  &__list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    padding-bottom: 85px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-item__icon {
    width: 67px;
    height: 67px;
    margin-right: 39px;
  }

  &__link {
    color: #0da088;
    text-decoration: underline;
    font-size: 1.7rem;
    position: relative;
  }
}

@media(min-width: 1300px) {
.contacts {

  &__list {
    width: 100%;
    height: 250px;
    padding-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 130px;
  }
  
  &__item {
    width: 32%;
  }

  &__text {
    font-size: 1.3rem;
  }

  &-item__icon {
    width: 40px;
    height: 40px;
  }

  &__link {
    font-size: 1.3rem;

    &:before {
      left: -90px;
    }
  }
}
}