section.appinst
	.appinst__container.container
		h2.appinst__title Установка приложения<br>для операторов Webim Dashboard
		span.appinst__subtitle Чтобы установить
		ul.appinst__list
			li.appinst__item
				a.appinst__link
				span.appinst__text