.afterinst {
  background-color: #eff4f4;
  padding-bottom: 77px;

  &__title {
    @include section-title;
  }

  &__subtitle {
    @include title-subtext;
    padding-bottom: 100px;
  }

  &__list {
    padding-left: 0;
  }

  &__btn-possible {
    @include btn;
    margin-bottom: 30px;
    background-color: #2cd3b8;
  }

  &__btn-freetest {
    @include btn;
    background-color: #3b4269;
  }
}

.afterinst-item {
  padding-bottom: 125px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__icon-wrap {
    width: 102px;
    height: 102px;
    border-radius: 51px;
    background-color: #2cd3b8;
    margin-right: 37px;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__stepnumber {
    font-size: 1.7rem;
    margin-right: 10px;
  }

  &__text {
    font-size: 1.7rem;
  }
}

@media(min-width: 1300px) {

.afterinst {

  &__btn-possible,
  &__btn-freetest {
    display: inline-block;
    width: 266px;
    height: 48px;
    font-size: $main-fz;
    line-height: $main-fz;
  }

  &__btn-freetest {
    margin-left: 20px;
  }
}
}