mixin afterinst-item(svgnumber, stepnumber, itemtext)
	li.afterinst__item.afterinst-item
		.afterinst-item__icon-wrap
			object(type="image/svg+xml" data=`img/icon_${svgnumber}.svg` width="40" height="40").afterinst-item__icon
		span.afterinst-item__stepnumber <b>Шаг #{stepnumber}. </b>#{itemtext}

section.afterinst
	.afterinst__container.container
		h2.afterinst__title Что вас ждет после установки
		span.afterinst__subtitle Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет
		ul.afterinst__list
			+afterinst-item('08', 1, 'Создание учетной записи компании и администратора')
			+afterinst-item('02', 2, 'Активация учетной записи')
			+afterinst-item('03', 3, 'Начальная настройка')
			+afterinst-item('04', 4, 'Установка кнопки Webim на сайт')
			+afterinst-item('05', 5, 'Регистрация оператора')
			+afterinst-item('06', 6, 'Тест сервиса')
		button.afterinst__btn-possible.btn Все возможности Webim
		button.afterinst__btn-freetest.btn Протестировать бесплатно