section.appinst
	.appinst__container.container
		h2.appinst__title Установка приложения<br>для операторов Webim Dashboard
		span.appinst__subtitle Чтобы быть на связи с клиентами всегда, установите приложение Webim Dashboard 
		ul.appinst__list
			li.appinst__item
				a(href='#').appinst__link Установка приложения Webim Dashboard для iPhone
				span.appinst__text Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих iPhone/iPad/etc от компании Apple.
			li.appinst__item
				a(href='#').appinst__link Установка приложения Webim Dashboard для Android
				span.appinst__text Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих платформу Google Android.
			li.appinst__item
				a(href='#').appinst__link Установка приложения Webim Dashboard для Ubuntu
				span.appinst__text Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих платформу Ubuntu.
			li.appinst__item
				a(href='#').appinst__link Установка приложения Webim Dashboard
				span.appinst__text Документация по установке дополнительного программного обеспечения для операторов сервиса Webim под ОС Microsoft Windows.
			li.appinst__item
				a(href='#').appinst__link Создание приложения Webim ля MacOS
				span.appinst__text Пошаговая инструкция создания приложения для оператора Webim для Mac OS с помощью Fluid.