section.lightinst 
	.lightinst-container.container
		h2.lightinst__title Простая установка
		span.lightinst__text Установка
		a.lightinst__link.lightinst-link
			span.lightinst-link__number 1
			icon.lightinst-link__icon
			span.lightinst-link__text Регистрация
		a.lightinst__link.lightinst-link
			span.lightinst-link__number 2
			icon.lightinst-link__icon
			span.lightinst-link__text Установка HTML-кода
