section.lightinst 
	.lightinst-container.container
		h2.lightinst__title Простая установка
		span.lightinst__subtitle Установка онлайн-консультанта Webim не займет более 15 минут
		.lightinst__block.lightinst-block
			a(href='#').lightinst-block__link.lightinst-link
				span.lightinst-link__number 1
				icon.lightinst-link__icon
				span.lightinst-link__text Регистрация
			a(href='#').lightinst-block__link.lightinst-link
				span.lightinst-link__number 2
				icon.lightinst-link__icon
				span.lightinst-link__text Установка<br>HTML-кода
