.page-footer {
  height: 166px;
  background-color: #393f6b;
  padding-top: 60px;

  &__logo {
    display: none;
  }

  &__connect {
    display: none;
  }

  &__copyright-text {
    color: #fff;
    font-size: 1.6rem;
  }
}

.footer-maincontacts,
.footer-restcontacts {
  display: none;
}



@media(min-width: 1300px) {
  
.page-footer {
  height: 284px;
  position: relative;

  &__logo {
    display: block;
    width: 147px;
    height: 35px;
  }

  &__container {
    max-width: 1520px;
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__copyright-text {
    color: #b6b9c9;
    font-size: 1rem;
  }

  &__connect {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.29);
    background-color: #06d6d6;
    border-radius: 25px;
    text-align: center;
    line-height: 70px;
  }
}

.footer-maincontacts {
  width: 350px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__tel {
    padding-left: 50px;
    font-size: 1.7rem;
    position: relative;
    color: #fff;

    &:before {
      content: '';
      position: absolute;
      width: 33px;
      height: 33px;
      left: 0;
      background-image: url(../img/phone_icon.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__block {

    &-tel {
      font-size: 1.6rem;
      color: #fff;
    }

    &-address {
      display: block;
      font-size: 1.1rem;
      color: #adb0c2;
    }
  }
}

.footer-restcontacts {
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__email {
    width: 200px;

    &-this {
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: 1.1rem;
    }
  }

  &__jobhours {
    color: #adb0c2;
    font-size: 1.1rem;
  }

  &__socials {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
}

.footer-socials {

  &__icon {
    font-size: 1.6rem;
    color: #adb0c2;

    &:hover {
      color: #2cd3b8;
    }
  }
}
}