footer(role="content-info").page-footer
	.page-footer__container.container
		.page-footer__copyright
			a(href="index.html").page-footer__logo.logo
				svg(src='img/logo_footer.svg' alt='Логотип компании')
			span.copyright Webim 2014-2017<br>Все права защищены
		.page-footer__maincontacts.footer-maincontacts
			a(tel='tel:+78005004932').footer-maincontacts__tel +7 (800) 500-49-32
			.footer-maincontacts__block
				a(tel='tel:+74993223754').footer-maincontacts__block-tel +7 (499) 322-37-54
				span.footer-maincontacts__block-address Москва, Серебряническая набережная, 29
			.footer-maincontacts__block
				a(tel='tel:+78123855337').footer-maincontacts__block-tel +7 (812) 385-53-37
				span.footer-maincontacts__block-address Санкт-Петербург, Чкаловский проспект, 15
		.page-footer__restcontacts.footer-restcontacts
			.footer-restcontacts__email
				a(href='mailto:contact@webim.ru') contact@webim.ru<br>
				a(href='mailto:sales@webim.ru') sales@webim.ru
			span.footer-restcontacts__jobhours Понедельник - пятница 10.00-18.00
			.footer-restcontacts__socials
				i.icon-vkontakte
				i.icon-facebook
				i.icon-twitter
				i.icon-skype
		.page-footer__connect-icon
			svg(src='img/connect-icon.jpg' alt='иконка связи')
