body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative; }

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

.container {
  width: calc(100% - 134px);
  max-width: 1020px;
  margin: 0 auto; }

a {
  cursor: pointer; }
  a:hover {
    color: #393e6b; }

footer a:hover {
  color: #2cd3b8; }

.promo {
  width: 100%;
  height: 170px;
  box-shadow: 0 5px 10px 5px #eff4f4;
  padding-top: 60px;
  position: relative; }
  .promo__burger--straight {
    position: absolute;
    top: 70px;
    left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .promo__burger--crossed {
    display: none; }
  .promo-burger {
    width: 57px;
    height: 43px; }
  .promo__block {
    display: none; }
  .promo__logo {
    display: block;
    width: 230px;
    height: 57px;
    margin: 0 auto;
    border: 1px solid red; }

.straight-line {
  width: 100%;
  height: 5px;
  background-color: #3fd6bc; }

.main-nav {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  background-color: #fff;
  z-index: 50; }
  .main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-nav__item {
    margin-bottom: 50px; }
  .main-nav__link {
    font-size: 3rem;
    color: #393e6b;
    text-transform: uppercase; }
    .main-nav__link:hover {
      color: #2cd3b8; }

@media (min-width: 1300px) {
  .promo {
    padding-top: 35px;
    height: 100px;
    background-image: url(../img/promo_bg.png);
    background-position: -200px 0;
    background-repeat: no-repeat; }
    .promo__container {
      max-width: 1520px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .promo-burger {
      display: none; }
    .promo__block {
      display: block;
      width: 250px;
      display: flex;
      justify-content: space-between; }
      .promo__block__reg {
        padding-left: 30px; }
    .promo__word {
      font-size: 1.3rem;
      color: #393e6b;
      text-transform: uppercase; }
    .promo__logo {
      width: 115px;
      height: 30px;
      margin: 0; }
  .main-nav {
    width: 530px;
    display: block;
    background-color: transparent;
    position: static;
    padding-top: 0;
    padding-left: 80px; }
    .main-nav__list {
      flex-direction: row;
      justify-content: space-between; }
    .main-nav__item {
      padding-right: 30px;
      margin: 0; }
    .main-nav__link {
      font-size: 1.3rem; } }

@media (min-width: 1500px) {
  .main-nav {
    padding-left: 150px; } }

.page-header {
  background-color: #eff4f4;
  text-align: left;
  padding-bottom: 77px; }
  .page-header__title {
    font-size: 3.5rem;
    text-align: left;
    padding-top: 100px;
    text-transform: uppercase;
    color: #393e6b;
    margin-top: 0;
    margin-bottom: 66px; }
  .page-header__text {
    display: block;
    font-size: 1.7rem;
    text-align: left;
    color: #74757b;
    width: 535px;
    line-height: 2.5rem;
    margin-bottom: 93px; }
  .page-header__btn-tryfree {
    display: block;
    width: 624px;
    color: #fff;
    border-radius: 3.25rem;
    height: 6.5rem;
    line-height: 6.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #2cd3b8;
    margin-bottom: 30px; }
    .page-header__btn-tryfree:hover {
      color: #f50049;
      background-color: #fbebea;
      transition: all 0.3s; }
    .page-header__btn-tryfree:focus {
      border: 2px solid #5E9ED6; }
  .page-header__btn-rate {
    display: block;
    width: 624px;
    color: #fff;
    border-radius: 3.25rem;
    height: 6.5rem;
    line-height: 6.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #393e6b;
    border: 3px solid  #393e6b; }
    .page-header__btn-rate:hover {
      color: #f50049;
      background-color: #fbebea;
      transition: all 0.3s; }
    .page-header__btn-rate:focus {
      border: 2px solid #5E9ED6; }

@media (min-width: 1300px) {
  .page-header__text {
    width: 640px;
    line-height: 1.8rem;
    font-size: 1.2rem; }
  .page-header__btn-tryfree, .page-header__btn-rate {
    display: inline-block;
    width: 260px;
    height: 48px;
    font-size: 1rem;
    line-height: 1rem; }
  .page-header__btn-rate {
    margin-left: 20px; } }

.lightinst__title {
  font-size: 3.5rem;
  text-align: left;
  padding-top: 100px;
  text-transform: uppercase;
  color: #393e6b;
  margin-top: 0;
  margin-bottom: 66px; }

.lightinst__subtitle {
  display: block;
  font-size: 1.7rem;
  text-align: left;
  color: #74757b;
  padding-bottom: 110px; }

.lightinst__block {
  display: flex;
  align-items: flex-start;
  padding-bottom: 90px; }

.lightinst-link {
  display: block;
  padding-left: 30px;
  padding-right: 100px;
  position: relative;
  cursor: pointer; }
  .lightinst-link__number {
    color: #393e6b;
    font-size: 150px;
    opacity: 0.15;
    font-style: bold;
    position: absolute;
    left: -20px;
    top: -40px;
    z-index: -5; }
  .lightinst-link__icon {
    width: 80px;
    height: 80px;
    border: 2px solid red; }
  .lightinst-link__text {
    display: block;
    color: #0da088;
    border-bottom: 4px solid #0da088;
    font-size: 1.9rem;
    padding-top: 45px; }

.htmlinst {
  background-color: #eff4f4; }
  .htmlinst__title {
    font-size: 3.5rem;
    text-align: left;
    padding-top: 100px;
    text-transform: uppercase;
    color: #393e6b;
    margin-top: 0;
    margin-bottom: 66px;
    width: 400px; }
  .htmlinst__list {
    padding-left: 40px; }
  .htmlinst__item {
    padding-bottom: 70px; }
  .htmlinst__link {
    display: block;
    color: #0da088;
    font-size: 2.1rem;
    padding-bottom: 45px;
    text-decoration: underline;
    position: relative; }
    .htmlinst__link:before {
      content: "\2022";
      font-weight: 700;
      font-size: 40px;
      color: #000;
      text-decoration: none;
      position: absolute;
      left: -40px; }
  .htmlinst__text {
    display: block;
    color: #74757b;
    font-size: 1.7rem; }

.appinst__title {
  font-size: 3.5rem;
  text-align: left;
  padding-top: 100px;
  text-transform: uppercase;
  color: #393e6b;
  margin-top: 0;
  margin-bottom: 66px; }

.appinst__subtitle {
  display: block;
  font-size: 1.7rem;
  text-align: left;
  color: #74757b;
  padding-bottom: 90px; }

.appinst__list {
  padding-left: 40px; }

.appinst__item {
  padding-bottom: 70px; }

.appinst__link {
  display: block;
  color: #0da088;
  font-size: 2.1rem;
  padding-bottom: 45px;
  text-decoration: underline;
  position: relative; }
  .appinst__link:before {
    content: "\2022";
    font-weight: 700;
    font-size: 40px;
    color: #000;
    text-decoration: none;
    position: absolute;
    left: -40px; }

.appinst__text {
  display: block;
  color: #74757b;
  font-size: 1.7rem; }

.afterinst {
  background-color: #eff4f4;
  padding-bottom: 77px; }
  .afterinst__title {
    font-size: 3.5rem;
    text-align: left;
    padding-top: 100px;
    text-transform: uppercase;
    color: #393e6b;
    margin-top: 0;
    margin-bottom: 66px; }
  .afterinst__subtitle {
    display: block;
    font-size: 1.7rem;
    text-align: left;
    color: #74757b;
    padding-bottom: 100px; }
  .afterinst__list {
    padding-left: 150px; }
  .afterinst__btn-possible {
    display: block;
    width: 624px;
    color: #fff;
    border-radius: 3.25rem;
    height: 6.5rem;
    line-height: 6.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    outline: none;
    margin-bottom: 30px;
    background-color: #2cd3b8; }
    .afterinst__btn-possible:hover {
      color: #f50049;
      background-color: #fbebea;
      transition: all 0.3s; }
    .afterinst__btn-possible:focus {
      border: 2px solid #5E9ED6; }
  .afterinst__btn-freetest {
    display: block;
    width: 624px;
    color: #fff;
    border-radius: 3.25rem;
    height: 6.5rem;
    line-height: 6.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #3b4269; }
    .afterinst__btn-freetest:hover {
      color: #f50049;
      background-color: #fbebea;
      transition: all 0.3s; }
    .afterinst__btn-freetest:focus {
      border: 2px solid #5E9ED6; }

.afterinst-item {
  padding-bottom: 125px;
  position: relative; }
  .afterinst-item:before {
    content: '';
    width: 102px;
    height: 102px;
    position: absolute;
    border-radius: 51px;
    background-color: #2cd3b8;
    left: -150px;
    top: -30px;
    background-image: url(../img/icon_03.svg);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center; }
  .afterinst-item__stepnumber {
    font-size: 1.7rem; }
  .afterinst-item__text {
    font-size: 1.7rem; }

@media (min-width: 1300px) {
  .afterinst__btn-possible, .afterinst__btn-freetest {
    display: inline-block;
    width: 266px;
    height: 48px;
    font-size: 14px;
    line-height: 1rem; }
  .afterinst__btn-freetest {
    margin-left: 20px; } }

.contacts {
  padding-top: 90px; }
  .contacts__text {
    display: block;
    font-size: 1.7rem;
    text-align: left;
    color: #74757b;
    padding-bottom: 90px; }
  .contacts__list {
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .contacts__item {
    padding-bottom: 85px; }
  .contacts__link {
    color: #0da088;
    text-decoration: underline;
    font-size: 1.7rem;
    position: relative; }
    .contacts__link:before {
      content: '';
      width: 67px;
      height: 67px;
      position: absolute;
      left: -110px;
      top: -15px;
      background-image: url(../img/3-chatbot.svg);
      background-repeat: no-repeat;
      background-position: center; }

@media (min-width: 1300px) {
  .contacts__list {
    width: 100%;
    height: 400px;
    padding-left: 80px;
    flex-direction: row;
    flex-wrap: wrap; }
  .contacts__item {
    width: 30%; }
  .contacts__link {
    font-size: 1.3rem; }
    .contacts__link:before {
      left: -90px; } }

.page-footer {
  height: 166px;
  background-color: #393f6b;
  padding-top: 60px; }
  .page-footer__logo {
    display: none; }
  .page-footer__connect-icon {
    display: none; }
  .page-footer__copyright-text {
    color: #fff;
    font-size: 1.6rem; }

.footer-maincontacts,
.footer-restcontacts {
  display: none; }

@media (min-width: 1300px) {
  .page-footer {
    height: 284px;
    position: relative; }
    .page-footer__logo {
      display: block;
      width: 147px;
      height: 35px;
      border: 2px solid red; }
    .page-footer__container {
      max-width: 1520px;
      display: flex;
      justify-content: space-between; }
    .page-footer__copyright {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .page-footer__copyright-text {
      color: #b6b9c9;
      font-size: 1rem; }
    .page-footer__connect {
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 20px; }
  .footer-maincontacts {
    width: 350px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer-maincontacts__tel {
      padding-left: 50px;
      font-size: 1.7rem;
      position: relative;
      color: #fff; }
      .footer-maincontacts__tel:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        left: 0;
        border: 1px solid red; }
    .footer-maincontacts__block-tel {
      font-size: 1.6rem;
      color: #fff; }
    .footer-maincontacts__block-address {
      display: block;
      font-size: 1.1rem;
      color: #adb0c2; }
  .footer-restcontacts {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer-restcontacts__email {
      width: 200px; }
      .footer-restcontacts__email-this {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem; }
    .footer-restcontacts__jobhours {
      color: #adb0c2;
      font-size: 1.1rem; }
    .footer-restcontacts__socials {
      width: 150px;
      display: flex;
      justify-content: space-between; }
  .footer-socials__icon {
    font-size: 1.6rem;
    color: #adb0c2; }
    .footer-socials__icon:hover {
      color: #2cd3b8; } }
