.page-header {
  background-color: #eff4f4;
  text-align: left;
  padding-bottom: 77px;

  &__title {
    @include section-title;
  }

  &__text {
    @include title-subtext;
    width: 535px;
    line-height: 2.5rem;
    margin-bottom: 93px;
  }

  &__btn-tryfree {
    @include btn;
    background-color: #2cd3b8;
    margin-bottom: 30px;
  }

  &__btn-rate {
    @include btn;
    background-color: #fff;
    color: #393e6b;
    border: 3px solid  #393e6b;
  }
} 

@media(min-width: 1300px) {

.page-header {
  &__text {
    width: 640px;
    line-height: 1.8rem;
    font-size: 1.2rem;
  }

  &__btn-tryfree,
  &__btn-rate {
    display: inline-block;
    width: 260px;
    height: 48px;
    font-size: 1rem;
    line-height: 1rem;
  }
  
  &__btn-rate {
    margin-left: 20px;
  }
}
}