header(role="banner").page-header
	.page-header__container.container
		h1.page-header__title Установка Webim
		p.page-header__text
		button.page-header__btn-tryfree.btn Попробовать бесплатно
		button.page-header__btn-rate.btn Тарифы