header(role="banner").page-header
	.page-header__container.container
		h1.page-header__title Установка Webim
		p.page-header__text Установка онлайн-консультанта Webim на ваш сайт не займет много времени. Вы можете установить онлайн-консультант Webim на ваш сайт и протестировать его в течение 7 дней бесплатно.

		button.page-header__btn-tryfree.btn Попробовать бесплатно
		button.page-header__btn-rate.btn Тарифы